section {
    /* display: flex;
    flex-direction: column; */

background-color: rgb(37, 34, 48) ;
    color: #ffffff;
    padding: 20px;
    /* margin: 10px ; */
    /* border-radius: 10px; */
}

.avatar {
    /* display: flex; */
    flex: 20%;
    width: 3%;
    height: 100%;
    /* padding: 10px; */
    margin-left: 5%;
    align-items: center;
    border: thin ridge rgba(255, 255, 255, 0.384);
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(158, 84, 255);
}

.aboutMeText {
    flex: 70%;
    margin: 0px 70px 50px 200px;
    padding: 50px;
    text-align: center;
    font-size: large;
    box-shadow: 0 0 50px rgb(158, 84, 255);
    border-radius: 10px;

}

.aboutMeSection {
    display:flex
}