/* @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+NO:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');


header {
    background-image: url("../images/background.jpg");
    background-size: contain;
    padding: 20% 40% 20%;
    /* padding-left: 40%; */
    text-align: center;
    color: white;
    font-family: 'Allura';
    border-bottom: 8px ridge rgba(5, 2, 10, 0.918);
}

.text-box {
    display: flex;
    justify-content: center;
    border: 5px ridge none;
    /* background-color: rgba(255, 255, 255, 0.195); */
    background-color:rgba(37, 34, 48, 0.815);
    /* padding: 10px; */
    /* width: 330px; */
    /* font-size: 50px; */
}