body, html {
    height: 100%;
    margin: 0;
}
body {
    /* background-image: url("../images/background.jpg");
    background-size: contain; */
    background-color: rgb(37, 34, 48) ;
    color: white;

}

h2 {
    font-family: 'Allura';

}
.sectionHeading {
    font-size: 60px;
}
