@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.card {
   margin: 20px 50px; 
}

.card-body {
    /* background-image: linear-gradient(to right, rgba(48, 13, 93, 0.918), rgb(37, 34, 48) ); */
    color: white;
}

section {
    background-color: rgb(37, 34, 48);
    padding-top: 20px;

}

h2 {
    font-family: 'Allura';
    font-size: larger;
}

.sectionHeading {
    font-size: 60px;
}