@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.card {
   margin: 20px 50px; 
}

.card-body {
    /* background-image: linear-gradient(to right, rgba(48, 13, 93, 0.918), rgb(37, 34, 48) ); */
    color: white;
}

section {
    background-color: rgb(37, 34, 48);
    padding-top: 20px;

}

h2 {
    font-family: 'Allura';
    font-size: larger;
}

.sectionHeading {
    font-size: 60px;
}

.projectCards {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: 20px; */
}

.card {
    box-shadow: 0 0 50px rgba(158, 84, 255, 0.616);
}

.card:hover {
    
}