body, html {
    height: 100%;
    margin: 0;
}
body {
    /* background-image: url("../images/background.jpg");
    background-size: contain; */
    background-color: rgb(37, 34, 48) ;
    color: white;

}

h2 {
    font-family: 'Allura';

}
.sectionHeading {
    font-size: 60px;
}

footer {
    
    margin-left: 43%;
    padding-bottom: 30px;
}

footer a {
    justify-content: space-between;
    padding: 20px 30px 20px 0px;
    color: rgba(48, 13, 93, 0.918);

}